
/*MW(4-13): Body */
body{
	font: 10pt "Trebuchet MS", sans-serif;
}

/*MW(4-13): Header-navigation-bar. Note that the width is set to center width minus the padding */
.navigation-bar, 
.navigation-bar-rounded-corners {
	font-size:10pt;
	width: 900px; 
	float: left;
	margin: 0;
	padding: 0;
	padding-left:10px;
	padding-right:10px;
	list-style: none;
	border-right: 1px solid #777777;
	background: #2c2e91 url(../jQuery/css/custom-theme/images/ui-bg_glass_40_4043CE_1x400.png) 50% 50% repeat-x;
	border-bottom: 1px solid #777777;
	border-top: 1px solid #777777;
}
.navigation-bar li, 
.navigation-bar-rounded-corners li {
	float: left;
}
.navigation-bar li a, 
.navigation-bar-rounded-corners li a {
	display: block;
	padding: 8px 15px;	
	text-decoration: none;
	border-right: 1px solid #777777;
	background: #2c2e91 url(../jQuery/css/custom-theme/images/ui-bg_glass_40_4043CE_1x400.png) 50% 50% repeat-x;
	color: #e3e3e3;
}
.navigation-bar li a:hover,
.navigation-bar-rounded-corners li a:hover {
	background: #2c2e91 url(../jQuery/css/custom-theme/images/ui-bg_glass_65_2c2e91_1x400.png) 50% 50% repeat-x;
	color: #e3e3e3;
}
.navigation-bar-rounded-corners {
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*MW(4-13): Image-wrapper */
.image-wrapper-left, .image-wrapper-right {
	margin:0;
	margin-top:20px;
	margin-bottom:2px;
}
.image-wrapper-left {
	float:left;
}
.image-wrapper-right {
	float:right;
}
/*MW(4-13): ToDo: Create a class to print image at top and bottom of div */

#non-footer-header {
	border-bottom:1px solid #cccccc;
	padding-bottom:5px;
}

/*MW(4-13): Footer-content*/
.footer-content {
	border-top:solid 1px #cccccc;
	border-left:solid 1px #cccccc;
	border-right:solid 1px #cccccc;
	background-color:#f2f1f1;
	color:#777777;
	font-size:9pt;
	margin:0;
	height:112px;
	padding:15px;
	padding-top:7px;
	padding-bottom:0px;
}
.footer-content a:link,
.footer-content a:visited,
.footer-content a:hover,
.footer-content a:active {
	text-decoration:underline;
	color:#777777;
}

#tabs a {
   outline: 0;
}

/*MW(4-13): Content frames */
.content-wrapper {
	border:solid 1px #cccccc;
	background-color:white; //#f2f1f1;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:9pt;	
	width:auto; 
	height:100%;
	padding:7px;
	margin:0;
	margin-top:10px;
}
.content-wrapper-header-dark, .content-wrapper-header-light {
	border:solid 1px #cccccc;
	background-color:#f2f1f1;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin:-2px;
	margin-bottom:4px;
	padding:4px;
	padding-left:8px;
	font-weight:bold;
	font-size:10pt;	
}
.content-wrapper-header-dark {
	background-image:url(../jQuery/css/custom-theme/images/ui-bg_diagonals-small_30_333333_40x40.png);
	background-repeat:repeat;
	color:white;
}
.content-wrapper-header-light {
	background-color:#f2f1f1;
}



		
